/** @format */

.back_button_wrapper {
  width: 4.4rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  margin-left: 4rem;
  margin-bottom: 3rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
